//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn
.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px rem(50);
    min-height: rem(50);
    background-color: $primary_01;
    border: rem(1) solid $primary_01;
    border-radius: rem(4);
    color: $white;
    @extend %menu;
    transition: background-color 0.2s ease 0s, color 0.2s ease 0s;
    @media (any-hover: hover) {
        &:hover {
            background-color: $white;
            color: $primary_01;
        }
    }
    @media (max-width: $mobileSmall) {
        width: 100%;
    }
}
