.title {
    font-family: Georgia;
    font-weight: 700;
    @include adaptiv-font(50, 30, 1);
    line-height: 80 / 50 * 100%;
}
.subtitle {
    font-family: Georgia;
    font-weight: 700;
    @include adaptiv-font(30, 25, 1);
    line-height: 45 / 30 * 100%;
}
.text_md {
    font-weight: 600;
    @include adaptiv-font(25, 20, 1);
    line-height: 40 / 25 * 100%;
}
.text {
    font-weight: 500;
    font-size: 20px;
    line-height: 30 / 20 * 100%;
}

.menu {
    font-weight: 500;
    font-size: 20px;
    line-height: 24 / 20 * 100%;
}
.no-ac {
    visibility: hidden;
    opacity: 0;
}
.ac {
    visibility: visible;
    opacity: 1;
    transform: translate(0px, 0px);
}
