%title {
    font-family: Georgia;
    font-weight: 700;
    @include adaptiveValue("font-size", 50, 30, 1400, 767.98, 1);
    line-height: math.div(80, 50);
}
%subtitle {
    font-family: Georgia;
    font-weight: 700;
    @include adaptiveValue("font-size", 30, 25, 1400, 767.98, 1);
    line-height: math.div(45, 30);
}
%text_md {
    font-weight: 600;
    @include adaptiveValue("font-size", 25, 20, 1400, 767.98, 1);
    line-height: math.div(40, 25);
}
%text {
    font-weight: 500;
    font-size: rem(20);
    line-height: math.div(30, 20);
}

%menu {
    font-weight: 500;
    font-size: rem(20);
    line-height: math.div(24, 20);
}

//========================================================================================================================================================

%no-ac {
    // visibility: hidden;
    // opacity: 0;
}
%ac {
    // visibility: visible;
    // opacity: 1;
    // transform: translate(0px, 0px);
}
