.fullscreen {
    @include adaptiveValue("padding-top", 85, 65, 1400, 991.98, 1);
    position: relative;
    &__content {
        position: relative;
        z-index: 2;
        @include adaptiveValue("padding-top", 175, 30, 1400, 479.98, 1);
        padding-bottom: rem(40);
        @media (max-width: $tablet) {
            padding-top: 15vh;
            @media screen and (orientation: landscape) {
                padding-top: 10vw;
            }
        }
    }
    &__container {
        display: flex;
        align-items: center;
    }
    &__body {
        flex: 0 1 rem(440);
        @media (max-width: $mobile) {
            flex: 1 1 100%;
            text-align: center;
        }
    }

    &__title {
        font-family: Georgia;
        font-weight: 700;
        @include adaptiveValue("font-size", 65, 40, 1400, 479.98, 1);
        line-height: math.div(74, 65);
        color: $primary_01;
        @include adaptiveValue("margin-bottom", 30, 15, 1400, 479.98, 1);
        // ANIMATION ========================================================================================================================================================
        @include inViewBasic(-20vw, 0, 0.8, 0, true);
        @media (max-width: $mobile) {
            transform: translate(0, 20vh);
        }
        // ANIMATION ========================================================================================================================================================
    }

    &__text {
        @extend %text;
        color: $dark_02;
        margin-right: rem(20);
        font-weight: 400;
        @include adaptiveValue("margin-bottom", 50, 25, 1400, 479.98, 1);
        @media (max-width: $mobile) {
            padding: 0;
        }
        // ANIMATION ========================================================================================================================================================
        @include inViewBasic(-20vw, 0, 0.8, 0.4, true);
        @media (max-width: $mobile) {
            transform: translate(0, 20vh);
        }
        // ANIMATION ========================================================================================================================================================
    }

    &__btn {
        // ANIMATION ========================================================================================================================================================
        @include inViewBasic(-20vw, 0, 0.8, 0.8, true);
        @media (max-width: $mobile) {
            transform: translate(0, 20vh);
        }
        // ANIMATION ========================================================================================================================================================
    }
    &__bg-ibg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: linear-gradient(112.58deg, #ffffff 18.15%, rgba(255, 255, 255, 0) 53.07%),
                rgba(0, 0, 0, 0.1);
        }

        @media (max-width: $tablet) {
            &::after {
                background: rgba(255, 255, 255, 0.6);
            }
        }
        img {
            object-position: 40% 0;
            @media (max-width: $tablet) {
                object-position: 70% 0;
            }
        }
    }
}

//========================================================================================================================================================

.works {
    &__container {
    }

    &__top {
        @include adaptiveValue("margin-bottom", 50, 10, 1400, 767.98, 1);
        @media (min-width: $tablet) {
            display: flex;
            justify-content: space-between;
            gap: rem(40);
        }
    }

    &__column-top {
    }

    &__body {
        display: grid;
        @media (min-width: $tablet) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (min-width: em(600)) {
            @include adaptiveValue("gap", 95, 40, 1400, 600, 1);
        }
    }

    &__column-bottom {
    }
}

.top-title {
    @media (min-width: $tablet) {
        flex: 0 1 rem(625);
    }

    // ANIMATION ========================================================================================================================================================
    @include inViewBasic(-20vw, 0, 0.8, 0, true);
    @media (max-width: $mobile) {
        transform: translate(0, 20vh);
    }
    // ANIMATION ========================================================================================================================================================
    &__subtile {
        @extend %text_md;
        color: $dark_03;
    }

    &__title {
        @extend %title;
        color: $primary_01;
    }
}

.top-text {
    @media (min-width: $tablet) {
        flex: 0 1 rem(710);
    }
    @include adaptiveValue("padding-top", 58, 20, 1400, 600, 1);
    @extend %text;
    color: $dark_03;
    // ANIMATION ========================================================================================================================================================
    @include inViewBasic(20vw, 0, 0.8, 0, true);
    @media (max-width: $mobile) {
        transform: translate(0, 20vh);
    }
    // ANIMATION ========================================================================================================================================================
}

.column-bottom {
    @media (min-width: $tablet) {
        margin-bottom: rem(40);
    }
    @media (max-width: $tablet) {
        display: flex;
        gap: rem(30);
    }
    @media (max-width: em(600)) {
        flex-wrap: wrap;
    }
    &_1 {
        // ANIMATION ========================================================================================================================================================
        @include inViewBasic(-20vw, 0, 0.8, 0);
        @media (max-width: $tablet) {
            transform: translate(0, 20vh);
        }
        // ANIMATION ========================================================================================================================================================
    }
    &_2 {
        @media (min-width: $tablet) {
            @include adaptiveValue("margin-top", 285, 45, 1400, 479.98, 1);
        }
        @media (max-width: $tablet) {
            flex-direction: row-reverse;
        }
        // ANIMATION ========================================================================================================================================================
        @include inViewBasic(0, -20vh, 0.8, 0.4);
        @media (max-width: $tablet) {
            transform: translate(0, 20vh);
        }
        // ANIMATION ========================================================================================================================================================
    }
    &_3 {
        @media (min-width: $tablet) {
            @include adaptiveValue("margin-top", 55, 20, 1400, 479.98, 1);
        }
        // ANIMATION ========================================================================================================================================================
        @include inViewBasic(20vw, 0, 0.8, 0.8);
        @media (max-width: $tablet) {
            transform: translate(0, 20vh);
        }
        // ANIMATION ========================================================================================================================================================
    }

    &__content {
        @media (max-width: $tablet) {
            flex: 1 1 auto;
        }
    }

    &__top {
        position: relative;
        padding-bottom: rem(10);
    }

    &__number {
        position: relative;
        font-family: Georgia;
        @include adaptiveValue("font-size", 150, 80, 1400, 479.98, 1);
        line-height: math.div(225, 150);
        color: rgba(1, 153, 109, 0.2);
    }

    &__subtitle {
        position: absolute;
        @include adaptiveValue("bottom", 45, 10, 1400, 479.98, 1);
        @extend %subtitle;
        color: $black;
        @include adaptiveValue("left", 60, 20, 991.98, 479.98, 1);
        @media (min-width: $tablet) {
            .column-bottom_1 & {
                left: rem(90);
            }
            .column-bottom_2 & {
                left: rem(80);
            }
            .column-bottom_3 & {
                left: rem(125);
            }
        }
    }

    &__text {
        @extend %text;
        color: $dark_03;
        @media (min-width: em(600)) {
            .column-bottom_1 & {
                @include adaptiveValue("margin-bottom", 60, 20, 1400, 479.98, 1);
            }
            .column-bottom_2 & {
                @include adaptiveValue("margin-bottom", 40, 20, 1400, 479.98, 1);
            }
            .column-bottom_3 & {
                @include adaptiveValue("margin-bottom", 50, 20, 1400, 479.98, 1);
            }
        }
    }

    &__image-ibg {
        overflow: hidden;
        border-radius: rem(12);
        padding-bottom: 125%;
        min-height: rem(250);
        @media (max-width: $tablet) {
            flex: 0 0 50%;
            padding-bottom: 45%;
        }
        @media (max-width: em(600)) {
            flex: 1 1 100%;
        }
    }
}

//========================================================================================================================================================

.video {
    padding-left: rem(15);
    padding-right: rem(15);
    @include adaptiveValue("padding-top", 230, 30, 1400, 479.98, 1);
    @include adaptiveValue("padding-bottom", 175, 30, 1400, 479.98, 1);
    background-color: $primary_02;
    @media (min-width: $mobile) {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: rem(30);
    }
    @media (max-width: $mobile) {
        margin: 0px auto;
    }
    &__info {
        // ANIMATION ========================================================================================================================================================
        @include inViewBasic(-20vw, 0, 0.8, 0);
        @media (max-width: $mobile) {
            transform: translate(0, 20vh);
        }
        // ANIMATION ========================================================================================================================================================
    }

    &__player {
        // ANIMATION ========================================================================================================================================================
        @include inViewBasic(20vw, 0, 0.8, 0);
        @media (max-width: $mobile) {
            transform: translate(0, 20vh);
        }
        // ANIMATION ========================================================================================================================================================
    }
}

.info-video {
    @media (min-width: $mobile) {
        flex: 0 1 rem(580);
    }
    @media (max-width: $mobile) {
        margin-bottom: rem(30);
    }
    &__title {
        @extend %title;
        color: $white;
        @include adaptiveValue("margin-bottom", 30, 10, 1400, 767.98, 1);
    }

    &__text {
        @extend %text_md;
        color: $white;
        @include adaptiveValue("margin-bottom", 60, 20, 1400, 767.98, 1);
    }

    &__btn {
        min-height: rem(65);
    }
}

.player-video {
    @media (min-width: $mobile) {
        flex: 0 1 rem(895);
    }
    position: relative;
    border-radius: rem(16);
    overflow: hidden;
    &__video-wrap {
        cursor: pointer;
        @extend %responsiveVideo;
        @include adaptiveValue("height", 520, 250, 991.98, 320, 1);
    }

    &__video {
        background-color: $black;
    }

    &__thumbnail {
        cursor: pointer;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 10;
        opacity: 1;
        transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s;
        ._playing & {
            opacity: 0;
            visibility: hidden;
        }
    }

    &__cover-ibg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.2);
            transition: all 0.3s ease 0s;
        }
    }

    &__control {
        position: absolute;
        @include adaptiveValue("width", 80, 60, 1400, 479.98, 1);
        @include adaptiveValue("height", 80, 60, 1400, 479.98, 1);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__control-icon {
        img {
            max-width: 100%;
        }
    }
}

//========================================================================================================================================================

.product {
    &__container {
        @media (min-width: $mobile) {
            display: flex;
            justify-content: space-between;
            @include adaptiveValue("gap", 85, 40, 1400, 991.98, 1);
        }
    }

    &__column {
    }
}

.column-product-image {
    position: relative;
    background-color: rgba(1, 153, 110, 0.2);
    border-radius: rem(18);
    @media (min-width: $pc) {
        @include adaptiveValue("margin-left", 60, 20, 1400, 479.98, 1);
    }
    @media (min-width: $mobile) {
        flex: 0 1 rem(640);
    }
    @media (max-width: $mobile) {
        margin-bottom: rem(260);
    }
    @media (max-width: $mobileSmall) {
        min-height: rem(400);
        border-radius: rem(0);
        background-color: transparent;
        margin: 0 rem(-15) rem(40) rem(-15);
    }

    // ANIMATION ========================================================================================================================================================
    @include inViewBasic(-20vw, 0, 0.8, 0);
    @media (max-width: $mobile) {
        transform: translate(0, 20vh);
    }
    // ANIMATION ========================================================================================================================================================

    &__image-ibg {
        @media (min-width: $pc) {
            margin: rem(-67) rem(110) rem(0) rem(100);
            padding-bottom: 100%;
        }
        @media (max-width: $pc) {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
        @media (max-width: $mobile) {
            padding-bottom: 90%;
            position: relative;
        }
        @media (max-width: $mobileSmall) {
            display: none;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        background-color: $white;
        @include adaptiveValue("min-width", 300, 350, 1400, 479.98, 1);
        @include adaptiveValue("bottom", -75, -100, 1400, 479.98, 1);
        @include adaptiveValue("left", -60, -20, 1400, 479.98, 1);
        padding: rem(22) rem(30) rem(30) rem(30);
        filter: drop-shadow(0px 3.62249px 18.1125px rgba(165, 165, 165, 0.25));
        transition: all 0.3s ease 0s;
        border-radius: rem(4);
        @media (min-width: $tablet) {
            @media (any-hover: hover) {
                &:hover {
                    bottom: rem(-20);
                    left: rem(20);
                    transform: scale(1.4);
                }
            }
        }
        @media (max-width: $tablet) {
            left: 50%;
            bottom: rem(-40);
        }
        @media (max-width: $mobile) {
            min-width: 90%;
        }
        @media (max-width: $mobileSmall) {
            width: 100%;
            height: 100%;
            bottom: 0;
            left: 0;
            transform: scale(1);
            border-radius: rem(0);
            padding: rem(15);
            justify-content: center;
        }
    }

    &__title {
        font-weight: 600;
        @include adaptiveValue("font-size", 15, 24, 1400, 479.98, 1);
        line-height: 157%;
        color: $black;
        padding-bottom: rem(7);
        margin-bottom: rem(14);
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: rem(110);
            height: rem(1);
            background-color: $black;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0px);
        }
    }

    &__avatar-ibg {
        border-radius: 50%;
        @include adaptiveValue("min-height", 57, 80, 1400, 479.98, 1);
        @include adaptiveValue("min-width", 57, 80, 1400, 479.98, 1);
        overflow: hidden;
        background-color: rgba(1, 153, 110, 0.2);
        margin-bottom: rem(10);
    }

    &__name {
        @include adaptiveValue("font-size", 12, 20, 1400, 479.98, 1);
        line-height: 157%;
        color: $black;
        margin-bottom: rem(20);
    }

    &__subtitle {
        font-family: Georgia;
        font-weight: 700;
        @include adaptiveValue("font-size", 16, 24, 1400, 479.98, 1);
        line-height: 157%;
        color: $black;
        margin-bottom: rem(15);
    }

    &__list {
    }

    &__item {
        @include adaptiveValue("font-size", 12, 20, 1400, 479.98, 1);
        line-height: 157%;
        color: $black;
        &:not(:last-child) {
            margin-bottom: rem(15);
        }
    }
}

.column-product-info {
    @media (min-width: $mobile) {
        flex: 0 1 rem(605);
    }
    &__body {
    }

    &__subtitle {
        @extend %text_md;
        color: $dark_03;
        margin-bottom: rem(10);

        // ANIMATION ========================================================================================================================================================
        @include inViewBasic(20vw, 0, 0.8, 0.8, true);
        @media (max-width: $mobile) {
            transform: translate(0, 20vh);
        }
        // ANIMATION ========================================================================================================================================================
    }

    &__title {
        @extend %title;
        margin-bottom: rem(20);
        color: $primary_01;

        // ANIMATION ========================================================================================================================================================
        @include inViewBasic(20vw, 0, 0.8, 1.2, true);
        @media (max-width: $mobile) {
            transform: translate(0, 20vh);
        }
        // ANIMATION ========================================================================================================================================================
    }

    &__text {
        max-width: rem(530);
        @extend %text;
        font-weight: 400;
        @include adaptiveValue("margin-bottom", 40, 30, 1400, 479.98, 1);
        color: $dark_02;
        @media (max-width: $mobile) {
            max-width: none;
        }

        // ANIMATION ========================================================================================================================================================
        @include inViewBasic(20vw, 0, 0.8, 1.6, true);
        @media (max-width: $mobile) {
            transform: translate(0, 20vh);
        }
        // ANIMATION ========================================================================================================================================================
    }

    &__btn {
        min-height: rem(65);
        // ANIMATION ========================================================================================================================================================
        @include inViewBasic(20vw, 0, 0.8, 2, true);
        @media (max-width: $mobile) {
            transform: translate(0, 20vh);
        }
        // ANIMATION ========================================================================================================================================================
    }
}
